* {
    margin: 0%;
}




.startButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}

.inputColor {
    opacity: 0;
    width: 0;
    overflow: hidden;
}

.inputMusic {
    opacity: 0;
    width: 0;
    overflow: hidden;
}

.chordButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;


}

.backgroundImg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

}

.chord-button {
    position: absolute;
    bottom: 0%;
}

.cards {
    color: aliceblue;
    width: 30%;
    margin: 2%;
    padding-bottom: 2%;
    transition: width 4s, height 4s, background-color 2s ease-out, color 4s ease-out;

}

.nav {
    margin: 2%;
    padding-bottom: 2%;

}



.chord-info {
    margin: 2%;
}

.cards:hover {
    color: rgb(84, 125, 255);
    background-color: aliceblue;
    width: 100%;

}