* {
    margin: 0%;
}




.startButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}

.inputColor {
    opacity: 0;
    width: 0;
    overflow: hidden;
}

.inputMusic {
    opacity: 0;
    width: 0;
    overflow: hidden;
}

.chordButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;


}

.backgroundImg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

}

.chord-button {
    position: absolute;
    bottom: 0%;
}

.cards{
    background-color: aliceblue;
    width: 50%;
}

.nav{
    margin: 2%;
    padding-bottom: 2%;
    
}

.cards{
    margin: 2%;
    padding-bottom: 2%;
}

.chord-info{
    margin: 2%;
}